
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height:48px;
    top:0;
    left: 0;
    justify-content:space-between;
    display: flex;
    z-index: 100000;
    position:sticky;
    transition: 0.5s;
}

#navbar.sticky{
    background-color: rgb(201, 200, 200);
    transition: 0.5s;
}

/* #navbar.sticky ul li a, #navbar.sticky h1{
    color:white;
} */

#navbar h1{
    color:black;
    align-self: center;
    padding: 15px;
    letter-spacing: .3px;
    
}

#navbar ul {
    display: flex;
    justify-content: end;
    align-items: center; 
    
}
#navbar li{
    list-style-type: none;
    
}

#navbar ul a{
    text-decoration: none;
    padding: 10px;
    color:black;
    margin-left: 14px;
    letter-spacing: .7px;
    font-weight: 100;
    font-size: 14px;
    position: relative;
}

#navbar ul a::after{
    content:"";
    height: 3px;
    width: 0%;
    background-color: black;
    left: 0;
    position:absolute;
    bottom: -0.8px;
    border-radius: 20px;
    transition: all 0.4s;
    pointer-events: none;
}
#navbar ul a:hover::after{
    width:100%
}

#navbar ul a:hover,#navbar a:focus {
    color:rgb(186, 234, 186);
}

.mainContainer{
    width: 100%;
    height: 200vh;
    background-color: rgb(186, 234, 186);
}
#subContainer{
    width: 100%;
    height: 100vh;
    background-image: url("Images/Printer1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#infoHome{
    width:50%;
    height:35%;
    /* background-color: red; */
    margin: auto;
    position: absolute;
    top:50%;
    left:25%;
}

#infoHome h1{
    word-wrap: break-word;
}

#infoHome .btnHome{
    display: flex;
    justify-content: center;
    margin-top: 15px;
 
 }
 
 .btnHome #btn1{
    background-color: rgb(186, 234, 186);
     margin-left: 45px;
     padding:15px;
     border-radius: 15px;
     font-weight: bold;
     color:black;
     border:none;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .btnHome #btn1:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgb(186, 234, 186);

 }